[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pytest = "*"
setuptools = "*"
wheel = "*"
twine = "*"

[packages]
avro = "*"
avro-json-serializer = "*"
requests = "*"
fastavro = "*"

[requires]
python_version = "3.7"
