[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[dev-packages]
setuptools = "*"
wheel = "*"
twine = "*"
pylint = "*"
autopep8 = "*"
rope = "*"
sphinx = "*"
rinohtype = "*"
sphinx-markdown-builder = "*"
python-coveralls = "*"

[packages]
requests = "*"
fastavro = "*"
sphinx-markdown-builder = "*"
sphinx-markdown-parser = "*"
rec-avro = "*"
